@mixin center
     display: flex
     justify-content: center
     align-items: center

@mixin center-y
     display: flex
     align-items: center

@mixin big-heading
     font-weight: 700
     font-size: 24px
     line-height: 26px
     display: flex
     align-items: center
     margin-bottom: 40px
     letter-spacing: -0.18px
     color: var(--header-color)

@mixin small-heading
     display: flex
     justify-content: space-between
     font-weight: 600
     font-size: 14px
     line-height: 26px
     color: var(--header-color)
     margin-bottom: 12px

@mixin input-style
     height: 42px
     width: 100%
     border-radius: 4px
     padding: 8px 16px 8px 16px
     background-color: #F0F2FA
     color: #616879
     font-weight: 500
     font-size: 14px
     line-height: 26px
     border: none
     outline: none
